version: '3.4'

services:
  application:
    image: ${DOCKER_REGISTRY-}juntosegurosimg
    build:
      context: .
      dockerfile: Application/Dockerfile
    ports:
      - "5000:8080"
    depends_on:
      - sqldata

  prometheus:
    build:
      context: ./prometheus
      dockerfile: Dockerfile
      args:
        version: 1
    image: prometheus-local
    restart: always
    ports: 
      - 5500:9090
    volumes: 
      - './prometheus/data:/data'

  grafana:
    build:
      context: ./grafana
      dockerfile: Dockerfile
      args:
        version: 1
    image: grafana-local
    restart: always
    ports:
      - 3000:3000

  sqldata:
    image: mcr.microsoft.com/mssql/server:2019-latest
    environment:
      - SA_PASSWORD=Numsey#2022
      - ACCEPT_EULA=Y
    ports:
      - "1450:1433"